In [3]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd

In [4]:
mesg = [
        "i love python",
        "python is fun",
        "python love datascience",
        "datascience is fun"
]

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()

In [7]:
newx = cv.fit_transform(mesg).toarray()

In [8]:
newx

array([[0, 0, 0, 1, 1],
       [0, 1, 1, 0, 1],
       [1, 0, 0, 1, 1],
       [1, 1, 1, 0, 0]], dtype=int64)

In [10]:
colname = cv.get_feature_names()

In [11]:
colname

['datascience', 'fun', 'is', 'love', 'python']

In [12]:
pd.DataFrame(newx, columns=colname)

   datascience  fun  is  love  python
0            0    0   0     1       1
1            0    1   1     0       1
2            1    0   0     1       1
3            1    1   1     0       0

In [14]:
o = "i love python python is fun python love datascience datascience is fun".lower().split()

In [15]:
list(set(o))

['is', 'datascience', 'python', 'i', 'love', 'fun']

In [16]:
colname

['datascience', 'fun', 'is', 'love', 'python']